Repository gpuctl/gpuctl, pull requests merged in 2024-01, with the labels that each got.

#12 CI: Cache NPM deps.
  .github/workflows/ci.yaml
Labels: A-CI

#8 Add Go coverage checking
  .github/workflows/ci.yaml
  internal/incrementer/incrementer_test.go
Labels: A-CI, S-waiting-on-review

#22 Satellite XML parsing and filtering
  cmd/satellite/main.go
  internal/status/gpustatus.go
  internal/status/handlers/_testdata/nvidia/ash03.faultycall
  internal/status/handlers/_testdata/nvidia/dump_ash01.json
  internal/status/handlers/_testdata/nvidia/dump_ash01.xml
  internal/status/handlers/_testdata/nvidia/dump_ash02.json
  internal/status/handlers/_testdata/nvidia/dump_ash02.xml
  internal/status/handlers/_testdata/nvidia/dump_ash04.json
  internal/status/handlers/_testdata/nvidia/dump_ash04.xml
  internal/status/handlers/_testdata/nvidia/dump_ash05.json
  internal/status/handlers/_testdata/nvidia/dump_ash05.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu01.json
  internal/status/handlers/_testdata/nvidia/dump_gpu01.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu02.json
  internal/status/handlers/_testdata/nvidia/dump_gpu02.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu03.json
  internal/status/handlers/_testdata/nvidia/dump_gpu03.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu04.json
  internal/status/handlers/_testdata/nvidia/dump_gpu04.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu05.json
  internal/status/handlers/_testdata/nvidia/dump_gpu05.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu10.json
  internal/status/handlers/_testdata/nvidia/dump_gpu10.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu30.json
  internal/status/handlers/_testdata/nvidia/dump_gpu30.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu30_altered.json
  internal/status/handlers/_testdata/nvidia/dump_gpu30_altered.xml
  internal/status/handlers/_testdata/nvidia/dump_gpu36.json
  internal/status/handlers/_testdata/nvidia/dump_gpu36.xml
  internal/status/handlers/_testdata/nvidia/dump_texel12.json
  internal/status/handlers/_testdata/nvidia/dump_texel12.xml
  internal/status/handlers/_testdata/nvidia/gatherdata.sh
  internal/status/handlers/_testdata/nvidia/gpu05.corruptedxml
  internal/status/handlers/nvidia.go
  internal/status/handlers/nvidia_test.go
Labels: S-waiting-on-author, A-satellite

#10 Implement Frontend Skeleton & Fetching of Stats
  cmd/groundstation/main.go
  cmd/webapi/main.go
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Utils/Hooks.tsx
  frontend/src/Utils/Utils.tsx
Labels: A-frontend, A-CI, S-waiting-on-author

#27 Initial REST api for heartbeat.
  .github/workflows/ci.yaml
  cmd/groundstation/main.go
  cmd/groundstation/server_test.go
  cmd/satellite/main.go
  internal/femto/client.go
  internal/femto/client_test.go
  internal/femto/femto.go
  internal/femto/server_test.go
  internal/uplink/heartbeat.go
Labels: S-waiting-on-author, C-feature, A-satellite, A-groundstation

#26 Define basic database abstraction layer
  cmd/groundstation/database/interface.go
Labels: S-waiting-on-author, C-feature, A-groundstation

#38 Transmit hostname with heartbeat
  cmd/groundstation/main.go
  cmd/satellite/main.go
  internal/uplink/heartbeat.go
Labels: S-waiting-on-review

#40 cmd/groundstation: Use femto for status submission.
  cmd/groundstation/gsapi/server.go
  cmd/groundstation/gsapi/server_test.go
  cmd/groundstation/main.go
  cmd/groundstation/remote/build_json_test.go
  cmd/groundstation/remote/remote.go
  cmd/groundstation/remote/remote_test.go
Labels: S-waiting-on-review, C-cleanup, A-groundstation

#37 Implement Postgres database instance
  .github/workflows/ci.yaml
  README.md
  cmd/groundstation/config/config.go
  cmd/groundstation/config/config_test.go
  cmd/groundstation/main.go
  go.mod
  go.sum
  internal/database/interface.go
  internal/database/postgres/postgres.go
  internal/database/postgres/postgres_test.go
  internal/database/unit_tests.go
  internal/uplink/gpustats.go
Labels: S-waiting-on-review, C-feature, A-groundstation

#51 webapi: Use `femto`
  cmd/webapi/main.go
  frontend/src/Data.tsx
  internal/femto/femto.go
  internal/femto/server_test.go
  internal/webapi/server.go
  internal/webapi/types.go
  internal/webapi/types_test.go
Labels: S-waiting-on-review, C-cleanup, A-api-server

#52 groundstation DB integration
  cmd/groundstation/main.go
  cmd/satellite/main.go
  internal/groundstation/gpustats.go
  internal/groundstation/gpustatus_test.go
  internal/groundstation/heartbeat.go
  internal/groundstation/heartbeat_test.go
  internal/groundstation/server.go
  internal/uplink/gpustats.go
Labels: S-waiting-on-review, A-satellite, A-groundstation

#55 webapi: Pull data from database, run in same binary as goundstation
  cmd/control/control.go
  cmd/groundstation/main.go
  cmd/webapi/main.go
  internal/webapi/server.go
Labels: S-waiting-on-review, A-groundstation, A-api-server

#49 Frontend: Table View
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Components/DataTable.tsx
  frontend/src/Components/WorkstationCard.tsx
  frontend/src/Utils/Utils.tsx
Labels: A-frontend, C-feature

#56 satellite: Add option to produce fake data.
  cmd/satellite/main.go
  internal/gpustats/fake.go
Labels: S-waiting-on-review, C-feature, A-satellite

#61 deps: run `go mod tidy`
  go.mod
  go.sum
Labels: C-cleanup

#67 control: Cleanup DB initialization
  cmd/control/control.go
Labels: C-cleanup

#60 Added npm fmt CI step
  .github/workflows/ci.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/Components/ColumnGrid.tsx
  frontend/src/Components/DataTable.tsx
  frontend/src/Components/WorkstationCard.tsx
  frontend/src/Data.tsx
  frontend/src/Utils/Hooks.tsx
  frontend/src/Utils/Utils.tsx
  frontend/src/index.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: A-CI, S-waiting-on-author

#68 Refactored configuration code + Added client configuration code
  cmd/groundstation/config/config_test.go
  cmd/satellite/main.go
  internal/config/client_configuration.go
  internal/config/client_configuration_test.go
  internal/config/common.go
  internal/config/common_test.go
  internal/config/server_configuration.go
  internal/config/server_configuration_test.go
Labels: S-waiting-on-author, C-cleanup, A-satellite

#78 Port Postgres database to new data model
  internal/database/inmemory.go
  internal/database/interface.go
  internal/database/postgres/postgres.go
  internal/database/unit_tests.go
Labels: S-waiting-on-author, C-feature, A-groundstation
