Repository gpuctl/gpuctl, pull requests merged in 2024-03, with the labels that each got.

#233 Fix date we test downsampling
  internal/database/prune_test.go
Labels: S-waiting-on-review, C-bug

#234 Add setting of owner from frontend
  frontend/src/Components/EditableFields.tsx
  frontend/src/Components/GroupInfoManagement.tsx
  frontend/src/Data.tsx
  frontend/src/Hooks/Hooks.tsx
Labels: A-frontend, S-waiting-on-review, C-feature

#255 Make UUIDs not strings
  cmd/satellite/main.go
  internal/broadcast/types.go
  internal/database/inmemory.go
  internal/database/postgres.go
  internal/database/prune_test.go
  internal/database/unit_test.go
  internal/gpustats/fake.go
  internal/gpustats/fake_test.go
  internal/gpustats/gpustatus_test.go
  internal/gpustats/nvidia.go
  internal/gpustats/testdata/nvidia/dump_ash01.json
  internal/gpustats/testdata/nvidia/dump_ash02.json
  internal/gpustats/testdata/nvidia/dump_ash04.json
  internal/gpustats/testdata/nvidia/dump_ash05.json
  internal/gpustats/testdata/nvidia/dump_gpu01.json
  internal/gpustats/testdata/nvidia/dump_gpu02.json
  internal/gpustats/testdata/nvidia/dump_gpu03.json
  internal/gpustats/testdata/nvidia/dump_gpu04.json
  internal/gpustats/testdata/nvidia/dump_gpu05.json
  internal/gpustats/testdata/nvidia/dump_gpu10.json
  internal/gpustats/testdata/nvidia/dump_gpu30.json
  internal/gpustats/testdata/nvidia/dump_gpu30_altered.json
  internal/gpustats/testdata/nvidia/dump_gpu36.json
  internal/gpustats/testdata/nvidia/dump_mira05.json
  internal/uplink/gpustats.go
  internal/webapi/server_test.go
Labels: S-waiting-on-author, C-cleanup, A-satellite, A-groundstation, A-api-server

#257 remove old postgres downsampling for simple threshold method
  cmd/control/control.go
  internal/database/inmemory.go
  internal/database/interface.go
  internal/database/postgres.go
  internal/database/prune.go
  internal/database/prune_test.go
  internal/groundstation/autocontact_test.go
Labels: A-groundstation

#258 time is `time.Time`, not `int64`
  internal/database/inmemory.go
  internal/database/interface.go
  internal/database/postgres.go
  internal/database/prune_test.go
  internal/database/unit_test.go
  internal/groundstation/autocontact_test.go
  internal/groundstation/gpustats.go
  internal/groundstation/heartbeat.go
  internal/webapi/server_test.go
Labels: S-waiting-on-review, C-cleanup, A-groundstation

#261 "Pretty-ify" the frontend
  frontend/public/index.html
  frontend/src/App.test.tsx
  frontend/src/Components/AggregateStats.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/SignIn.tsx
  frontend/src/Components/WorkstationCardMinimal.tsx
  frontend/src/Pages/AdminPanel.tsx
  frontend/src/Pages/MainView.tsx
  frontend/src/Providers/AuthProvider.tsx
Labels: A-frontend, S-waiting-on-review, C-cleanup

#304 Make odd/even rows appear in alternating colours
  frontend/src/Components/DataTable.tsx
Labels: A-frontend, S-waiting-on-review, C-bug, C-cleanup

#319 Fix changing the height of the notes box
  frontend/src/Components/NotesPopout.tsx
Labels: A-frontend, S-waiting-on-review, C-bug

#320 Stop table exploding
  frontend/src/Components/DataTable.tsx
Labels: S-waiting-on-review

#321 Stop DOS-ing ourselves
  deploy/.env.example
  deploy/control.prod.toml
  internal/tunnel/onboard.go
Labels: S-waiting-on-review, C-bug, A-groundstation

#328 Optimise aggregate query
  cmd/control/control.go
  internal/database/inmemory.go
  internal/database/interface.go
  internal/database/postgres.go
  internal/groundstation/autocontact_test.go
  internal/webapi/onboard_test.go
  internal/webapi/server.go
  internal/webapi/server_test.go
Labels: S-waiting-on-review, C-bug, A-groundstation
